body
{
    background-image:url("תמונות/סמל.jpg") ;
}
form
{
    border-style: ridge;
    border-color: rgb(235, 235, 80);
    padding: 2%;
    width: 20%;
    height: 300px;
    position: absolute;
    left: 18%;
    top:18%;
}
#Submit
{
    width: 30%;
    height: 11%;
    position:absolute;
    bottom: 5%;
    background-color: rgb(241, 241, 124) ;
    transition:  0.5s;
}
.p
{
    position: absolute;
    left: 18%;
    font-size: 150%;
}
a
{
    color: rgb(243 243 0);
}